<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="XMLPath" value="D:\XML\" />
    <!--<add key="XMLPath" value="D:\XML\Procesed" />-->
    <add key="LogPath" value="D:\XML\LogCancel.txt" />
    <add key="XMLProcesedPath" value="D:\XML\XMLCancel\Procesed\" />
    <add key="XMLFailedPath" value="D:\XMLCancel\Failed\" />

    <add key="RFCEmisor" value="XIA190128J61" />


    <!--URL stamp-->
    <add key="cancelUrl" value="https://api.contpaqinube.com/v2/sandbox/fiscal/stamping-isv/cancelresponse?" />
    <add key="cancelKey" value="603b4a9534a445d4a2dfba3db70f19a6" />
    <add key="licence" value="Valor uno" />

  </appSettings>
</configuration>